<div id="{{ toolbarId }}">
    <div class="{{ response.statusCode == 200 ? 'status_success' : 'status_error' }}">{{ response.statusCode }}</div>
    <div class="origin_info">PianoTuner @{{ originInfo }}</div>
    <div>{{ executionTime }} ms</div>
    <div class="request_method">{{ requestMethod }}</div>
</div>
<div id="button_{{ hashToolbar }}" onclick="{{ hashFunction }}()">&#x1F3B9;</div>

<style lang="css">
    #{{ toolbarId }} {
        font-family: Verdana;
        font-size: 14px;
        background: black;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        color: white;
        padding-right: 40px;
    }

    #{{ toolbarId }} > div {
        background: #22a6b3;
        float: left;
        height: 100%;
        padding: 10px;
    }

    #{{ toolbarId }} > div.status_success {
        background: #6ab04c;
    }

    #{{ toolbarId }} > div.status_error {
        background: #eb4d4b;
    }

    #{{ toolbarId }} > div.origin_info {
        background: #1e272e;
    }

    #{{ toolbarId }} > div.request_method {
        background: #535c68;
        float: right;
    }

    #button_{{ hashToolbar }} {
        background: #22a6b3;
        font-family: Verdana;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        font-size: 30px;
        position: fixed;
        bottom: 0;
        right: 0;
        line-height: 40px;
        padding: 0;
        cursor: pointer;
        color: white;
        text-align: center;
    }
</style>

<script>
    if (typeof(Storage) !== "undefined" && localStorage.pianoTuner === "false") {
        document.getElementById("{{ toolbarId }}").style.display = "none";
    }

    function {{ hashFunction }}() {
        const x = document.getElementById("{{ toolbarId }}");
        if (x.style.display === "none") {
            x.style.display = "block";

            if (typeof(Storage) !== "undefined") {
                localStorage.pianoTuner = true;
            }
        } else {
            x.style.display = "none";

            if (typeof(Storage) !== "undefined") {
                localStorage.pianoTuner = false;
            }
        }
    }
</script>
